<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <title>Listado categorias</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="#">POLO DE SALUD</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#"
            >Home <span class="sr-only">(current)</span></a
          >
          <a class="nav-item nav-link" href="#">Features</a>
          <a class="nav-item nav-link" href="#">Pricing</a>
          <a class="nav-item nav-link disabled" href="#">Disabled</a>
        </div>
      </div>
    </nav>
    <br />
    <div class="container">
      <div class="row">
        <h1>Lista de categorias</h1>
      </div>
      <br />
      <div class="row">
        <div class="col-lg-3">
          <a th:href="@{/categorias/nueva}" class="btn btn-primary btn-sm mb3"
            >Agregar categoría</a
          >
        </div>
      </div>
      <br />
      <table class="table table-striped table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Accion</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="categoria : ${categorias}">
            <td th:text="${categoria.idCategory}">ID</td>
            <td th:text="${categoria.nombre}">Nombre</td>
            <td>
              <a
                th:href="@{/categorias/editar/{id}(id=${categoria.idCategory})}"
                class="btn btn-info"
                >Editar</a
              >
              <a 
                th:href="@{/categorias/eliminar/{id}(id=${categoria.idCategory})}"
                class="btn btn-danger"
                >Eliminar</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
