<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="estiloFormulario.css" />
    <link rel="stylesheet" href="encabezadoAdminStyles.css">
    <title>Crear categoria</title>
  </head>
  <body>
    <header id="header">
      <img src="images/logo-polo.png" class="logo" alt="" />
      <input type="checkbox" id="menu" />
      <label for="menu">
        <img src="images/menu.png" class="menu-icono" alt="" />
      </label>
      <ul class="menu">
        <li class="item">Inicio</li>
        <li class="item"><a href="muestraCategoria.html">Categorias</a></li>
        <li class="item">Eventos</li>
        <li class="item">Noticias</li>
        <li class="item">Roles</li>
        <li class="btn">Cerrar sesion</li>
      </ul>
    </header>
    <br />
    <br />
    <br />
    <br />
    <h1>Registro de Categoría</h1>
    <div class="formbold-main-wrapper">
      <div class="formbold-form-wrapper">
        <form>
          <div class="formbold-input-flex">
            <div>
              <input
                type="text"
                name="nombre"
                id="nombre"
                placeholder="Ingrese nombre de la categoría"
                class="formbold-form-input"
              />
              <label for="nombre" class="formbold-form-label">
                Nombre categoría
              </label>
            </div>
          </div>

          <button class="formbold-btn" id="btnregistrar">Registrar</button>
        </form>
      </div>
    </div>
    <script src="formularioCategoria.js"></script>
  </body>
</html>
