<header>
    
    <div class="container">
        <div class="logo">
            <a href="index.html">
                <img src="images/logo-polo2.png" class="image"/>
            </a>
        </div>
        <nav class="nav">
            <!-- Menú desplegable para Noticias -->
            <div class="dropdown">
                <a href="muestraNoticia.html" class="dropdown-toggle">Noticias</a>
                <ul class="dropdown-menu">
                    <li><a href="crearNoticia.html">Agregar Noticia</a></li>
                    <li><a href="borrarNoticia.html">Borrar Noticia</a></li>
                    <li><a href="editarNoticias.html">Editar Noticia</a></li>
                </ul>
            </div>
            <!-- Menú desplegable para Categorías -->
            <div class="dropdown">
                <a href="muestraCategoria.html" class="dropdown-toggle">Categorías</a>
                <ul class="dropdown-menu">
                    <li><a href="formularioCategoria.html">Agregar Categoría</a></li>
                    <li><a href="muestraCategoria.html">Lista Categoría</a></li>
                </ul>
            </div>
            <!-- Menú desplegable para Eventos -->
            <div class="dropdown">
                <a href="eventos.html" class="dropdown-toggle">Eventos</a>
                <ul class="dropdown-menu">
                    <li><a href="crear-evento.html">Agregar Evento</a></li>
                    <li><a href="borrar-evento.html">Borrar Evento</a></li>
                    <li><a href="editar-evento.html">Editar Evento</a></li>
                </ul>
            </div>
            <!-- Menú desplegable para Usuarios -->
            <div class="dropdown">
                <a href="usuarios.html" class="dropdown-toggle">Usuarios</a>
                <ul class="dropdown-menu">
                    <li><a href="crear-usuario.html">Agregar Usuario</a></li>
                    <li><a href="Eliminar-usuario.html">Eliminar Usuario</a></li>
                    <li><a href="Listar-usuarios.html">Listar Usuarios</a></li>
                </ul>
            </div>
            <!-- Menú desplegable para Sobre Nosotros -->
            <div class="dropdown">
                <a href="mostrarInfoContact.html" class="dropdown-toggle">Sobre Nosotros</a>
                <ul class="dropdown-menu">
                    <li><a href="updateInfoContact.html">Modificar Información</a></li>
                </ul>
            </div>
            <a href="podcasts.html">Podcasts</a>
        </nav>
        <button class="logout-button">Cerrar Sesión</button>
    </div>
</header>
