<header>
    
    <div class="container">
        <div class="logo">
            <a href="indexExterno.html">
                <img src="images/logo-polo2.png" class="image"/>
            </a>
        </div>
        <nav class="nav">
            <div class="dropdown">
                <a href="muestraNoticiaExterno.html" class="dropdown-toggle">Noticias</a>
                <ul class="dropdown-menu">
                </ul>
            </div>
            
            <div class="dropdown">
                <a href="eventos.html" class="dropdown-toggle">Eventos</a>
                
            </div>
            
            <a href="mostrarInfoContactExterno.html">Sobre Nosotros</a>
            <a href="podcasts.html">Podcasts</a>
        </nav>
        <a href="inicioSesion.html"><button class="logout-button">Iniciar Sesión</button></a>
    </div>
</header>
