<header>
    
    <div class="container">
        <div class="logo">
            <a href="index.html">
                <img src="images/logo-polo2.png" class="image"/>
            </a>
        </div>
        <nav class="nav">
            <!-- Menú desplegable para Noticias -->
            <div class="dropdown">
                <a href="muestraNoticia.html" class="dropdown-toggle">Noticias</a>
                <ul class="dropdown-menu">
                    <li><a href="crearNoticia.html">Agregar Noticia</a></li>
                    <li><a href="borrarNoticia.html">Borrar Noticia</a></li>
                    <li><a href="editarNoticias.html">Editar Noticia</a></li>
                </ul>
            </div>
            <!-- Menú desplegable para Categorías -->
            <div class="dropdown">
                <a href="muestraCategoria.html" class="dropdown-toggle">Categorías</a>
                <ul class="dropdown-menu">
                    <li><a href="formularioCategoria.html">Agregar Categoría</a></li>
                    <li><a href="muestraCategoria.html">Lista Categoría</a></li>
                </ul>
            </div>
            <!-- Menú desplegable para Departamentos -->
            <div class="dropdown">
                <a href="componentes.html" class="dropdown-toggle">Componentes</a>
                <ul class="dropdown-menu">
                    <li><a href="crearComponentes.html">Agregar Componentes</a></li>
                </ul>
            </div>
            <!-- Menú desplegable para Usuarios -->
            <div class="dropdown">
                <a href="listaUsuario.html" class="dropdown-toggle">Usuarios</a>
                <ul class="dropdown-menu">
                    <li><a href="crearUsuario.html">Agregar Usuario</a></li>
                    <li><a href="editarUsuario.html">Editar Usuario</a></li>
                    <li><a href="listaUsuario.html">Listar Usuarios</a></li>
                </ul>
            </div>
            <!-- Menú desplegable para Sobre Nosotros -->
            <div class="dropdown">
                <a href="mostrarInfoContact.html" class="dropdown-toggle">Sobre Nosotros</a>
                <ul class="dropdown-menu">
                    <li><a href="updateInfoContact.html">Modificar Información</a></li>
                </ul>
            </div>
            <!-- Menú desplegable para Contenido Multimedia -->
            <div class="dropdown">
                <a href="contenidoMultimedia.html" class="dropdown-toggle">Contenido Multimedia</a>
                <ul class="dropdown-menu">
                    <li><a href="Podcasts.html">Podcasts</a></li>
                    <li><a href="Entrevistas.html">Entrevistas</a></li>
                </ul>
            </div> 
            <!-- Menú desplegable para Rol -->
            <div class="dropdown">
                <a href="rol.html" class="dropdown-toggle">Rol</a>
                <ul class="dropdown-menu">
                    <li><a href="crearRol.html">Agregar Rol</a></li>
                </ul>
            </div>
        </nav>
        <a href="indexExterno.html"><button class="logout-button">Cerrar Sesión</button></a>
    </div>
</header>
