*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Helvetica Neue, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #f1f1f1;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    padding: 50px;
    display: flex;
    flex-direction: column;
    width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    background-color: #eeeeee;
}

h2 {
    margin-bottom: 25px;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color:#2E2E2E;
}

label, p{
    font-size: 17px;
    color: #575757;
    margin-bottom: 10px;
}

input {
    padding: 17px 11px;
    margin-bottom: 25px;
    border: #0083ef;
    border-radius: 25px;
    background-color: #fafafc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    outline: none;
    font-size: 17px;
}

.btn-1{
    background-color: #0083ef;
    font-size: 15px;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-1:hover{
    background-color: #0055a2;
}

@media (max-width: 991px) {

    body{
        padding: 30px;
    }

    form {
        width: 100%;
    }
}